@media screen and (max-width: 600px) {
	html, body {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	#menu-block { margin-right: auto; margin-left: auto; width: 450px; }
}

@media screen and (max-width: 500px) {
	#menu-block { margin-right: auto; margin-left: auto; width: 350px; }
	#main-block { margin-left: auto; margin-right: auto; width: 350px; }
}

@media screen and (max-width: 400px) {
	#menu-block { margin-right: auto; margin-left: auto; width: 300px; }
	#main-block { margin-left: auto; margin-right: auto; width: 300px; }
}