:root { --body-clr: #F4F4F2; }

html, body {
	padding: 0;
	margin: 0;
	background-color: var(--body-clr);
	scroll-behavior: smooth;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

* {transition: 0.1s ease-in-out; font-family: 'JetBrainsMono Regular', monospace;}
ul, li {margin: 0;}

img {
  max-width: 100%;
	max-height: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.link {
	margin-bottom: 0px;
	margin: 0;
	padding: 0;
	inline-size: 100%;
	word-break: break-all;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}

::-webkit-scrollbar {background: rgba(255, 255, 255, 1); width: 7px;, height: 2px;}
::-webkit-scrollbar-thumb {background: #999999; border-radius: 0px;}
::-webkit-scrollbar-track-piece {background: transparent;}
::selection { color: white; background-color: black; }

/* ------------------ */

#menu-block {
	margin-left: auto;
	background: transparent;
	border: 0px solid transparent;
	text-align: left;
	width: 110px;
	font-size: 12pt;
	margin-top: 70px;
	margin-right: 25px;
	user-select: none;
}
#menu-block > ul { list-style-type: none; padding-top: 20px; padding-left: 0; padding-right: 0; }

#menu-block a {
	color: #6c757d;
	background-color: transparent;
	text-decoration: none;
}
#menu-block a:hover {
	text-decoration: underline;
	color: white;
	background-color: black;
}


/* ------------------ */


#main-block {
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	text-align: left;
	border: 0px solid transparent;
	width: 500px;
	font-size: 12pt;
	margin-top: 70px;
	padding-bottom: 30px;
	word-break: break-word;
}

#main-block > div > h2 { user-select: none; }
#main-block span { white-space: pre-wrap; }
#main-block a:visited {
	color: black;
}

#selected_tab { color: black; }
#selected_tab:hover {
	color: white;
	background-color: black;
}

/* ------------------ */

#post-title {
	display: block;
  font-size: 18pt;
 	margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-family: 'JetBrainsMono SemiBold', monospace;
}

#quote-block {
	padding: 12px;
	background-color: transparent;
}